<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
	<link rel="manifest" href="%PUBLIC_URL%/manifest.json">
	<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'likes.js' %}"></script>
    
    <title>Schedulify</title>
</head>
<body>
    <nav style="background-color:#0e8436">
        <div>
            <ul>
                <li>
                    <a class="button" style="color: #f8f9fa;" href='/eventsList/{{ user.id }}/'>My events</a>
                </li>
                <li>
                    <a class="button" style="color: #f8f9fa;" href='/eventsList/{{ user.id }}/invited/'>Invited events</a>
                </li>
                <li>
                    <a class="button" style="color: #f8f9fa;" href='/eventsList/{{ user.id }}/previous/'>Previous events</a>
                </li>
                <li>
                    <a class="button" style="color: #f8f9fa;" href='/eventsList/{{ user.id }}/running/'>Running events</a>
                </li>
                <li>
                    <a class="button" style="color: #f8f9fa;" href='/eventsList/{{ user.id }}/upcoming/'>Upcoming events</a>
                </li>
                <li>
                    <a class="button" style="color: #f8f9fa;" href='/eventsList/{{ user.id }}/eventcreate/'>Add Event</a>
                </li>
                <li>
                    <a class="button" style="color: #f8f9fa;" href='/logout/'>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    {% if length == 0 %}
    <p style="text-align: left;"> No Invited events so far</p>
    {% else %}
    {% for event in events %}
    <ul style="border-style: solid;background-color: white;position:relative;width: 750px;border: 15px solid green;padding: 50px;margin: 10px;">
        <h3 style="border-style: hidden" >{{event.user.username}} scheduled a event</h3>
        <!-- <a style="border-style: hidden; text-decoration:brown" href="/eventsList/{{ user.id }}/{{ event.id }}/">{{event.user.username}} scheduled a event</a> -->
        <h4 style="border-style: hidden">Title- {{ event.title }}</h4>
        <p style="text-align: left;">Content - {{ event.description }}<p>
        <p style="text-align: left; color: darkorchid;">Start time - {{event.start_date_time}}</p>
        <p style="text-align: left; color: darkorchid;">End time - {{event.end_date_time}}</p>
        <!-- <input type="submit" style="display:flex; width: 10%;" name="Create" > -->
        <a class="button button2" href="/eventsList/{{ user.id }}/invited/{{ event.id }}/accept/">Accept</a>
        <a class="button button3" href="/eventsList/{{ user.id }}/invited/{{ event.id }}/decline/">Decline</a>
    </ul>
    {% endfor %}
    {% endif %}

</body>

